body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;

}

header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightseagreen;
    color: white;
    text-align:center;
    padding: 20px;
    margin: -10px;
     
}
img{
    border: 5px solid black;
}
form{
    margin: 30px;
}

main{
    flex: 1;


}

footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: white;
    text-align: left;
    padding: 20px;
    margin: -10px;
    
}
.container{
    margin-top: 10px;
    margin-left: -10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: aqua;


}
.scontainer{
    display: flex;
    flex-direction: row;
    background-color: aqua;
}